
.top-menu {
    background-color: #d01f90;
    display: grid;
    grid-template-columns: auto 10vw;
    padding: 1em 2em;
}

.brand-div {
    display: grid;
    color: #fff;
}

#brand-name {
    font-size: 1.2em;
    font-weight: bold;
}

#brand-subtitle {
    font-size: 0.65em;
}

#hamburger-icon {
    margin: auto;
    width: 100%;
    max-width: 40px;
    cursor: pointer;
}

    #hamburger-icon span {
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
    }

.navigation {
    display: block !important;
    overflow: hidden;
    max-height: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #d01f90;
    transition: all .5s ease-in-out;
}

.shownavigation {
    max-height: 100px;
}

    .navigation ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .navigation ul li {
        margin: 3% 0;
    }

    .navigation ul li a {
        font-weight: bold;
        text-decoration: none;
        color: #d01f90;
    }

        .navigation ul li a:hover {
            color: #800754;
        }