<template>
    <div class="menu-background">
        <div class="top-menu">
            <div class="brand-div">
                <span id="brand-name">Academic Developer</span>
                <span id="brand-subtitle">= set(development).intersect(academics)</span>
            </div>
            <button id="hamburger-icon" @click="onHamburgerClick">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <nav v-bind:class="{ shownavigation: showMobileNav }" class="navigation">
            <ul>
                <li><a href="#">Blog</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</template>

<script src="./navbar.ts"></script>
<style src="./navbar.css"></style>