
/* standard light theme */
:root {
    --background-color: #fff;
    --main-color: #d01f90;
    --main-color-hover: #800754;
    --text-main-color: #d01f90;

    --second-color: #75B2EF;
}

.dark-theme {
    --background-color: #141414;
    --main-color: #000;
    --main-color-hover: #ccc;
    --text-main-color: #fff;
}

html, body, #app-root {
    font-family: Verdana;
    width: 100%;
    height: 100%;
}

#app-root {
    background-color: var(--background-color);
}