<template>
    <section class="comment-section">
        <span class="comment-count">
            {{ comments.length }} comment{{ comments.length > 1 ? 's' : '' }}
        </span>

        <comment v-for="comment in comments" v-bind:comment="comment" />
        <comment-form v-bind:post-id="$props.postId" />
    </section>
</template>

<style>
    .comment-section {
        margin-top: 5%;
    }

    .comment-count {
        font-size: 0.85em;
        color: var(--second-color);
    }
</style>

<script src="./comment-section.ts"></script>