<template>
    <div class="content-width">
        <div v-if="loading" class="loading">
            <img src="../../../../wwwroot/loading-icon.gif" />
        </div>
        <div v-else-if="error" class="error">
            <span>{{ errorCode }}</span>
            <span>{{ errorMessage }}</span>
            <span><a href="">You can try searching the term {{ $route.params.title }}</a></span>
        </div>

        <post v-else v-bind:post="post" />
        <comment-section v-bind:comments="comments" v-bind:post-id="post.id" class="comment-margin"/>
    </div>
</template>

<script src="./post-view.ts"></script>
<style src="./post-view.css"></style>