<template>
    <div class="content-width">
        <div v-if="loading" class="loading">
            <img src="../../../../wwwroot/loading-icon.gif" />
        </div>
        <div v-else-if="error" class="error">
            <span>{{ errorCode }}</span>
            <span>{{ errorMessage }}</span>
            <span><a href="">You can try searching the term {{ $route.params.title }}</a></span>
        </div>

        <post-component v-else v-bind:post="post" />

        <div class="comment-margin">
            <form class="leave-comment">
                <span><b>Leave a comment:</b></span>

                <input type="text" placeholder="name" v-model="username"/>
                <textarea rows="2" v-model="commentContent" />

                <span class="post-required-error" v-if="postClicked && !canPost()">
                    Please, type your name and the comment before posting it
                </span>

                <span class="post-required-error" v-if="comment-form-error">
                    {{ commentError }}
                </span>

                <div class="post-button">
                    <button type="button" v-on:click="postComment">Post</button>
                </div>
            </form>

            <section class="comments">
                <span class="comment-count">
                    {{ post.comments.length }} comment{{ post.comments.length > 1 ? 's' : '' }}
                </span>

                <div class="comment-display" v-for="comment in comments">
                    <span><b>{{ comment.author }}</b></span>
                    <span>{{ getFormatedDate(comment.date) }}</span>
                    <span>{{ comment.content }}</span>
                </div>
            </section>
        </div>
    </div>
</template>

<script src="./post-view.ts"></script>
<style src="./post-view.css"></style>