.content-width {
    margin: 5%;
}

.loading {
    display: flex;
}

.loading img {
    margin: 15% auto;
    width: 45px;
}

.error {
    width: 70%;
    margin: 5% auto 0 auto;
    text-align: center;
}

.error span {
    display: block;
}

.error span:first-child {
    font-size: 3em;
}

    .error span:nth-child(2) {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .error span:last-child {
        font-size: 0.8em;
    }

.comment-margin {
    margin-top: 5%;
}

.leave-comment span {
    display: block;
    font-size: 0.85em;
}

.leave-comment input, .leave-comment textarea {
    border: 1px solid var(--second-color);
    opacity: 0.65;
    border-radius: 7px;
    margin: 1% 0 0 0;
    padding: 1%;
    font-size: 0.85em;
}

.leave-comment textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 45px;
}

.post-button {
    margin-top: 1%;
}

.post-button button {
    float: right;
    background-color: var(--second-color);
    border: none;
    border-radius: 5px;
    min-width: 100px;
    font-weight: bold;
    color: #fff;
}

.comments {
    margin-top: 5%;
}

.comment-count {
    font-size: 0.85em;
    color: var(--second-color);
}

.comment-display span {
    display: block;
}

.comment-display span:last-child {
    margin-top: 2%;
}

@media (min-width: 766px) {
    .content-width {
        margin: 3% auto;
        max-width: 750px;
    }
}
