
span {
    display: block;
}

.comment {
    margin: 5% 0;
}

.comment-author {
    font-weight: bold;
}

.comment-date {
    font-size: 0.7em;
}

.comment-content {
    margin-top: 3%;
    font-size: 0.85em;
}

@media (min-width: 766px) {
    .comment {
        margin: 3% 0;
    }

    .comment-content {
        margin: 1% 0;
    }
}